* {
    color: blue;
}

body {
 background-image: url('/proj1/img/fictional-planet-with-colourful-night-sky-stars-nebula_1048-7926.jpg');
    background-size:cover
   
} 

.container {
   
    
    
}